<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js/debug[/?]?" />
        </rule>

        <rule name="StaticContent" stopProcessing="true">
          <match url="^(fs/((?!_next).)*)$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false" />
          </conditions>
          <action type="Rewrite" url="{REQUEST_URI}"/>
        </rule>

        <rule name="NextJsRoutes" stopProcessing="true">
          <match url="^(fs/(_next|static).*)$"/>
          <action type="Rewrite" url="{REQUEST_URI}"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true" 
      nodeProcessCommandLine="c:\DEV\Github\f-s.v2\bin\node.exe"
      node_env="production"
    />
  </system.webServer>
</configuration>