<configuration>
  <appSettings>
    <add key="NEXT_PUBLIC_BASE_URL" value="http://192.168.1.27" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="next">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true" 
      nodeProcessCommandLine="c:\DEV\Github\f-s.v2\bin\node.exe"
      node_env="production"
    />
  </system.webServer>
</configuration>